# Root-level ignores
node_modules/
.env
.DS_Store

# Front-end (React + Vite)
Front-end/node_modules/
Front-end/dist/
Front-end/.env
Front-end/.DS_Store
Front-end/.vite/

# Optional: Vite cache
Front-end/.vite-cache/

# Back-end (Django)
Back-end/__pycache__/
Back-end/*.py[cod]
Back-end/*.sqlite3
Back-end/db.sqlite3
Back-end/media/
Back-end/staticfiles/
Back-end/.envo
Back-end/.DS_Stre



# VS Code settings (optional)
.vscode/